{% extends 'accounts/base.html' %}
{% block content %}
<div class="shadow p-2 mb-4 bg-white rounded">
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <h5 class='card-header'>Customer: {{customer.name}}</h5>
        <br>
        <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'accounts:update_customer' customer.id %}">Update Customer</a>
        <a class="btn btn-outline-warning btn-sm btn-block" href="{% url 'accounts:multiple_order' customer.id %}">Multiple Order</a>
        <hr>
        <a class="btn btn-outline-danger btn-sm btn-block" href="{% url 'accounts:delete_customer' customer.id %}">Remove</a>

      </div>
    </div>

    <div class="col-md">
      <div class="card card-body">

        <h5 class='card-title'>Contact Info</h5>
        <hr>
        <p>Email: {{customer.email}}</p>
        <p>Phone No: {{customer.phone}}</p>
      </div>
    </div>

    <div class="col-md">
      <div class="card card-body">
        <h5 class='card-title'>Total Orders</h5>
        <hr>
        <h1 style='text-align: center;padding: 20'>{{total_order}}</h1>
      </div>
    </div>
  </div>
</div>
  <br>

<div class="shadow p-2 mb-4 bg-white rounded">
  <div class="row">
    <div class="col">
      <div class="card card-body">
        <form method='get'>
          {{myFilter.form}}
          <th> </th>
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
    <br>

    <div class="row">
      <div class="col-md">
        <div class="card card-body">
          <table class="table table-sm">
            <tr>
              <th>Product</th>
              <th>Category</th>
              <th>Status</th>
              <th>Update</th>
              <th>Remove</th>
            </tr>
            {% for order in orders %}
            <tr>
              <td>{{order.product}}</td>
              <td>{{order.product.category}}</td>
              <td>{{order.status}}</td>
              <td><a class='btn btn-outline-info' href="{% url 'accounts:update_order' order.id %}">UPDATE</a></td>
              <td><a class='btn btn-outline-danger' href="{% url 'accounts:delete' order.id %}">REMOVE</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

 </div>


{% endblock %}
